
.monitor {
  background-color:black;
}

.tracing {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;
}

.coming {
  stroke: green;
  fill:none;
  stroke-width: 4;
}

.going {
  stroke: red;
  fill:none;
  stroke-width: 4;
}

@keyframes dash {
  from {
    stroke-dashoffset: 100%;
  }
  to {
    stroke-dashoffset: 0%;
  }
}

