
html, body {
  height:100%;
}

.monitor {
  background-color:black;
  height:100%;
  width:100%;
  position:absolute;
  transform: translateZ(0);
}

.tracing-container {
  width:80%;
  top:0;
  left:0;
}

.no-cpu {
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
   transform: translateZ(0);
}

.button {
  font-size: 100px;
  color:white;
}

.bottom-item {
  float:left;
}

.bottom-text {
  fill:green;
  font-size:120;
}

.side {
  border-bottom: 1px solid white;
  border-left: 1px solid white;
}

.side-panel {
  width:20%;
  float:right;
  background-color: black;
}

.cardiac {
  fill:none;
  stroke: #20fc03;
  stroke-width: 3;
}

.cardiac-side-text {
  fill:#20fc03;
  font-size:120;
}

.cardiac-legend-text {
  fill:#20fc03;
  font-size:5px;
}

.oximetry {
  fill:none;
  stroke: #29d1ff;
  stroke-width: 3;
}

.oximetry-side-text {
  fill:#29d1ff;
  font-size:120;
}

.oximetry-legend-text {
  fill:#29d1ff;
  font-size:5px;
}

.bp-bottom-text {
  fill:#de31d2;
  font-size:50px;
}

.bottom-legend {
  fill:#de31d2;
}

.bottom-panel {
  float: left;
  background-color: black;
  width: 100%;
}
