.monitor {
  padding: 0;
  background-color: #0b0e13;
  height: 100vh;
}

.oximetry svg .o2waveform{
  fill: none;
  stroke: #58c6e8;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: miter;
  opacity: 0;
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  animation: ekg 1s linear forwards infinite;
}

.oximetry svg text{
  fill:  #58c6e8;
  stroke: #58c6e8;
  stroke-linecap: round;
  stroke-linejoin: miter;
  opacity: 0;
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  animation: ekg 1s linear forwards infinite;
}


/*@keyframes ekg {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    50% {
      stroke-dashoffset: 2000;
    }
    99% {
      opacity: 0;
      stroke-dashoffset: 3000;
    }
    100% {
      stroke-dashoffset: 1000;
    }
}

*/